* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #f3f3f3;
  color: #333;
}
/* --- Header --- */
.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #222;
  height: 60px;
  color: white;
  gap: 5px;
}
.top-bar .actions button {
  margin-left: 5px;
  padding: 5px 15px;
  border: none;
  background: white;
  color: #222;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.top-bar .profile button {
  margin-left: 5px;
  margin-right: 12px;
  padding: 5px 15px;
  border: none;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
  height: 26px;
}

.top-bar .profile button img {
  width: 30px;
  height: 15px;
}
.top-bar .cart button {
  margin-left: 5px;
  border: none;
  background: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 26px;
  width: 26px;
}
.top-bar .notifi button {
  margin-left: 5px;
  border: none;
  background: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 26px;
  width: 26px;
}

/* --- Banner --- */
.banner {
  position: relative;
}

.banner .bannerImg {
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: brightness(80%);
}

.banner .logo {
  scale: 0.7;
  position: absolute;
  bottom: 100px;
  left: 45%;
  transform: translateX(-50%);
}

.search-box {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
}

.search-box input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.6);
}
/* --- Category Sections --- */
main {
  padding: 30px;
}

.category {
  margin-bottom: 50px;
}

.category h2 {
  margin-bottom: 20px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.item {
  background: #f3f3f3;
  padding: 10px;
  text-align: center;
  width: 250px;
}

.item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.item .title {
  font-weight: bold;
  margin-top: 10px;
}

.item .price {
  color: #555;
}

.more-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  background: black;
  color: white;
  cursor: pointer;
}
