body{
    margin: 0px;
    background-color: gray;
}
.top-bar{
    background-color: black;
    min-height: 70px;
}
.background{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -100;
}
.logo{
    position: fixed;
    margin-left: 170px;
    margin-top: 70px;
    transform: scale(0.7);
}
.authentication-box{
    background-color: rgba(251, 251, 251, 1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 80px;
    margin-right: 40px;
    margin-left: auto;
    margin-bottom: auto;
    min-height: 350px;
    max-width: 270px;
    min-width: 270px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.authentication-box >h3{
    font-size: 25px;
    margin-bottom: 40px;
    margin-top: -20px;
}
.authentication-box >p{
    font-size: 12px;
    border-top: 2px black solid;
    margin: 5px;
    margin-bottom: 10px;
    margin-bottom: 40px;
}
.input-label{
    display: inline
}
.input-section{
    margin-bottom: 20px;
    border-bottom: 2px black solid;
    min-width: 240px;
}
.input-section > input{
    border: none;
    background-color: transparent; 
}
.logo-icon{
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    right: 290px;
    transform: translateY(-10%);
}
.mid-button{
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.long-button{
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
    min-width: 240px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.btn-with-anim:hover{
    background-color: gray;
}