/* Header */
.main-header {
    background-color: #212121;
}

.top-bar {
    display: flex;
    justify-content: space-between; /* logo trái, navbar giữa, icon phải */
    align-items: center;
    padding: 10px 40px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.navbar.search-active ul {
    transform: translateX(-30px);
}

.navbar a {
    text-decoration: none;
    color: #f2f2f2bf;
    font-weight: 500;
}

.nav-icons {
    display: flex;
    position: relative;
    align-items: center;
    gap: 15px;
}

.nav-icons .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.search-wrapper {
    position: relative;
    display: flex;
    opacity: 1;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 8px;
    padding: 6px 12px;
    gap: 8px;
}
.search-suggestions {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #ddd;
    z-index: 99999;
}

.search-suggestions ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-suggestions li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.search-suggestions li:hover {
    background: #f5f5f5;
}
.search-form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-input {
    flex: 1;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    outline: none;
}

.search-input::placeholder {
    color: #aaa;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
}

.search-button img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}

/* Footer */
footer {
    color: #555;
    padding: 20px 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-top: 1px solid #e0e0e0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1 1 250px;
}

.footer-column h3 {
    margin-bottom: 15px;
    padding-top: 40px;
    font-size: 1.2rem;
}

.footer-column p {
    font-size: 0.95rem;
    line-height: 1.5;
    color: #555;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 10px;
    font-size: 0.95rem;
}

.footer-column ul li a {
    color: #555;
    text-decoration: none;
}

.footer-column .link a:hover {
    color: #007bff;
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid #e0e0e0;
    margin-top: 20px;
    font-size: 0.65rem;
    color: #555;
}