/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Segoe UI', sans-serif;
}

/* Banner */
.banner {
        position: relative;
        width: 100%;
        height: 400px;
        overflow: hidden;
}

.banner-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.banner-overlay {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: rgba(0,0,0,0.4); /* làm tối ảnh */
}

.banner-text {
        position: absolute;
        top: 30%;
        left: 10%;
        color: white;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.banner-btn {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.banner-btn:hover {
    background-color: #f0f0f0;
    color: #d35400;
}

/* Nội dung chính */
.product-section{
    margin: 30px;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cột bằng nhau */
    gap: 25px;
    padding: 20px 0;
}

.product-card {
    text-align: left;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 16px;
    margin-bottom: 6px;
    color: #333;
}

.product-card p {
    font-size: 13px;
    color: #777;
    margin-bottom: 4px;
}

.product-card span {
    font-size: 15px;
    font-weight: bold;
    color: #d35400;
}

/* Nút xem thêm */
.view-more {
    text-align: center;
    margin-top: 40px;
}

.view-more-btn {
    background-color: #f8991d;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: background 0.3s;
}

/* Bộ sưu tập */
.collection-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.collection-card {
    background-color: #f5f5f5;
    border-radius: 3px;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
}

.collection-card img {
    width: 100%;
    padding: 20px;
}

.collection-card h2 {
    padding-left: 25px;
    padding-bottom: 10px;
    color: #333;
}
