/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Segoe UI', sans-serif;
}

.container {
    display: flex;
    gap: 30px;
    padding: 40px;
}

/* Bộ lọc bên trái */
.filter-group {
    padding-top: 15px;
    margin-bottom: 20px;
}
.filter-title {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 15px;
    color: #333;
}
.filter-panel label {
    display: block;
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}
.filter-panel input[type="checkbox"] {
    margin-right: 8px;
}
.filter-panel button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #d0021b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.filter-panel button:hover {
    background-color: #a80016;
}
/* Khu vực sản phẩm bên phải */
.product-section {
    flex: 1;
}
.sort-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.sort-bar select {
    padding: 6px 10px;
    font-size: 14px;
}

/* Lưới sản phẩm */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cột bằng nhau */
    gap: 25px;
    padding: 20px 0;
    margin-left: 50px;
}

.product-card {
    text-align: left;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 16px;
    margin-bottom: 6px;
    color: #333;
}

.product-card p {
    font-size: 13px;
    color: #777;
    margin-bottom: 4px;
}

.product-card span {
    font-size: 15px;
    font-weight: bold;
    color: #d35400;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Phân trang */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}
.pagination a {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
}
.pagination a.active {
    background-color: #d0021b;
    color: #fff;
    border-color: #d0021b;
}
