* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #f3f3f3;
  color: #333;
}
/* --- Header --- */
.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #222;
  height: 60px;
  color: white;
  gap: 5px;
}
.top-bar .actions button {
  margin-left: 5px;
  padding: 5px 15px;
  border: none;
  background: white;
  color: #222;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.top-bar .profile button {
  margin-left: 5px;
  margin-right: 12px;
  padding: 5px 15px;
  border: none;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
  height: 26px;
}

.top-bar .profile button img {
  width: 30px;
  height: 15px;
}
.top-bar .cart button {
  margin-left: 5px;
  border: none;
  background: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 26px;
  width: 26px;
}
.top-bar .notifi button {
  margin-left: 5px;
  border: none;
  background: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 26px;
  width: 26px;
}

/* main */
.product-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  margin-top: 40px;
}

.product-detail .info {
  flex: 1;
  position: sticky;
  top: 10px;
  align-self: flex-start;
}

.product-detail .info .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.product-detail .info .description {
  font-size: 16px;
  margin-bottom: 25px;
}

.product-detail .info .price {
  font-size: 18px;
  color: #c0392b;
  margin-bottom: 10px;
  margin-top: 10px;
}

.product-detail .buy-btn {
  padding: 15px 20px;
  background: #2ecc71;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  display: block;
  width: 94%;
  margin-bottom: 10px;
}

.product-detail .image {
  flex: 0 0 800px;
  text-align: center;
}

.product-detail .image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.news {
  max-width: 94%;
  height: 40px;
  border-radius: 10px;
  background-color: #2ecc71;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.news::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: 2px dashed white;
  border-radius: 8px;
}
.news p {
  color: white;
}
.phone {
  color: red;
  cursor: pointer;
}
/* --- Footer --- */
footer {
  margin-top: 200px;
  background: #f3f3f3;
  color: #555;
  padding: 20px 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-top: 1px solid #e0e0e0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1 1 250px;
}

.footer-column h3 {
  margin-bottom: 15px;
  padding-top: 40px;
  font-size: 1.2rem;
}

.footer-column p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #555;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 10px;
  font-size: 0.95rem;
}

.footer-column ul li a {
  color: #555;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid #e0e0e0;
  margin-top: 20px;
  font-size: 0.65rem;
  color: #555;
}
